body {
    background-color: #4f4e4d;
}
#cv {
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 214, 18);
}